$colorbtn_1 : #0e6cff ;
$colorbtn_2 :  #ff8700;
$colorbtn_3 :  #4caf50;
@mixin whithe  {color: #f4f4f4;
    
    
    
}
@mixin violet  {
    background-color: #640fc5;
}



 @mixin black {
    background-color: black;
}

@mixin white {
    color: floralwhite;
}
